.container {
    margin: 0 auto;
    max-width: 1230px;
}

.container-slider {
    margin: 0 auto;
    max-width: 1260px;
}

.main__title-wrapper {
    position: relative;
}

.main__title-wrapper img {
    position: absolute;
    left: -9px;
    top: 34px;
    z-index: -1;
}

.main__heading {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: var(--black);
}

.more-action {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 30px 15px;
    background: #FFFFFF;
    border: 2px solid #E36F59;
    border-radius: 8px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--red);
}

.main__background-pink {
    position: absolute;
    top: -35px;
    left: 854px;
    z-index: -1;
}

