:root {
    --red: #E36F59;
    --black: #23262D;
    --txt: #606268;
    --white: #FFFFFF;
    --border: #E2E7EB;
    --gray2: #C4CACF;

    --title-color: var(--black);
    --link-color: var(--black);
    --link-active-color: var(--red);
    --link-breadcrump: #212836;

    --article-title: var(--black);
    --article-text: var(--txt);
}