@import url(./fonts.css);
@import url(./reset.css);
@import url(../libs/css/normalize.css);
@import url(./globals.css);
@import url(./components/header.css);
@import url(./common.css);
@import url(./components/main-information-1230.css);
@import url(../libs/css/awesome.css);
@import url(./components/articles-section.css);
@import url(./components/slide-articles-blog.css);
@import url(./components/swiper-slider.css);
@import url(./components/courses-section.css);
@import url(./components/slide-courses.css);


* {
    box-sizing: border-box;
}

body {
    font-family: 'SegoeUI', sans-serif;
    font-weight: 400;
}
