@import url(./fonts.css);
@import url(./reset.css);
@import url(../libs/css/normalize.css);
@import url(./globals.css);
@import url(./components/header.css);
@import url(./common.css);
@import url(./components/content-homepage2.css);
@import url(../libs/css/awesome.css);

* {
    box-sizing: border-box;
}

body {
    font-family: 'SegoeUI', sans-serif;
    font-weight: 400;
}