.main__articles {
    margin-top: 158px;
}

.main__articles-slider-list {
    position: relative;
    width: 1230px;
    height: 454px;
    user-select: none;
    touch-action: pan-y;
}

.main__articles-slider-list img {
    pointer-events: none;
}

.main__articles-slider-wrapper-track {
    width: 1230px;
    height: 454px;
    overflow: hidden;
}

.main__articles-slider-track {
    display: flex;
}

.main__articles-slide {
    width: 285px;
    height: 454px;
    flex-shrink: 0;
    margin-right: 30px;
}