.main__articles {
    margin-top: 158px;
    position: relative;
}

.main__articles-title {
    background: url(../../images/background/rectangle-articles.svg) no-repeat 6px 34px;
}

.main__title-wrapper {
    position: relative;
}

.main__title-wrapper-img {
    position: absolute;
    left: -9px;
    top: 34px;
    z-index: -1;
}

.main__heading {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: var(--black);
}

.more-action {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 30px 15px;
    background: #FFFFFF;
    border: 2px solid #E36F59;
    border-radius: 8px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--red);
    cursor: pointer;
    transition: color .3s;
}

.more-action:hover {
    background: var(--red);
    color: var(--white);
}

.more-action:active {
    background: #C7523C;
}

.main__articles-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 15px;
}

.main__articles-slider-list {
    height: 539px;
}

@media screen and (max-width: 828px) {
    .main__articles {
        margin-top: 100px;
    }

    .main__articles-title {
        background: url(../../images/background/rectangle-articles.svg) no-repeat 6px 28px;
    }

    .main__heading {
        font-size: 40px;
        line-height: 40px;
    }

    .more-action {
        padding: 12px 20px 11px 20px;
    }
}

@media screen and (max-width: 576px) {
    .main__articles {
        margin-top: 80px;
    }

    .main__heading {
        font-size: 24px;
        line-height: 24px;
    }

    .main__articles-title {
        background: url(../../images/background/rectangle-articles-320.svg) no-repeat 4px 26px;
        padding-right: 0;
        padding-left: 10px;
    }

    .more-action {
        border: none;
        text-decoration: underline;
        padding-right: 0;
        background: none;
    }
}