.main__articles {
    margin-top: 158px;
    position: relative;
}

.main__background-pink {
    position: absolute;
    top: -37px;
    left: 1199px;
    z-index: -1;
}

.main__articles-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;   
    padding: 0 15px; 
}

.main__articles-slider-list {    
    height: 539px;    
}

.main__articles-slider-wrapper-track {    
    padding: 15px;
}

/* .main__slider-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
} */

.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}

.main__slider-arrow-prev, .main__slider-arrow-next {
    border: none;
    background: none;
}