.main__articles {
    margin-top: 158px;
    position: relative;
}

.main__articles-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 15px;
}

.main__articles-slider-list {
    position: relative;
    height: 484px;
    user-select: none;
    touch-action: pan-y;
}

.main__articles-slider-list img {
    pointer-events: none;
}

.main__articles-slider-wrapper-track {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.main__articles-slider-track {
    display: flex;
}

.main__slider-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.main__slider-arrow-prev, .main__slider-arrow-next {
    border: none;
    background: none;
}