.background-pink-main-blog-individual {
    position: absolute;
    top: 1200px;
    right: 0;
    z-index: -1;
}

.background-big-blue-blog-individual {
    position: absolute;
    top: 3015px;
    left: 0;
    z-index: -1;
}

.main__blog-individual-wrapper {
    display: flex;
}

.main__blog-individual-wrapper-left {
    margin-top: 31px;
    position: relative;
}

.container-blog-individual-left {
    max-width: 945px;
    padding: 0 15px;
}

.main__blog-date-views {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 164px;
}

.main__blog-date {
    display: flex;
    align-items: center;
}

.main__blog-views {
    display: flex;
    align-items: center;
}

.main__blog-date-views-text {
    padding-left: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
}

.main__blog-main-img {
    margin-top: 40px;
}

.main__blog-heading-h3 {
    margin-top: 50px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--title-color);
}

.main__blog-individual-list-discs {
    list-style-type: disc;
    margin: 10px 0 0 20px;
    padding-bottom: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.01em;
    color: var(--txt);
}

.main__blog-individual-list-disc-item::marker {
    color: var(--red);
}

.main__blog-individual-text {
    margin-top: 40px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: var(--txt);
}

.main__blog-individual-list-decimal {
    list-style-type: decimal;
    margin: 10px 0 0 20px;
    padding-bottom: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.01em;
    color: var(--txt);
}

.main__blog-individual-list-decimal-item {
    padding-left: 5px;
}

.main__blog-individual-list-decimal-item::marker {
    color: var(--red);
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.main__blog-individual-image-block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__blog-individual-image-block-img-coment {
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: var(--black);
}

.main__blog-individual-quote {
    margin-top: 87px;
    position: relative;
    background: #EEF0F3;
    border-radius: 10px;
    display: flex;
    justify-content: start;
}

.main__blog-individual-quote-icon {
    position: absolute;
    top: -32px;
    left: 40px;
}

.main__blog-individual-quote-author {
    max-height: 40px;
    margin: 73px 0 44px 40px;
    padding-left: 9px;
    border-left: 3px solid var(--red);
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: var(--black);
    display: flex;
    align-items: center;
}

.main__blog-individual-quote-text {
    margin: 36px 50px 43px 36px;
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
}

.main__blog-individual-quote-text-750 {
    display: none;
}

.main__blog-individual-text-bottom {
    margin-top: 50px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: var(--txt);
}

.main__blog-individual-social {
    max-width: 915px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 9px 34px rgba(21, 33, 56, 0.1);
    border-radius: 10px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
}

.main__blog-individual-social-links {
    display: flex;
    align-items: center;
}

.main__blog-individual-social-facebook {
    margin-left: 30px;
}

.main__blog-individual-social-twitter {
    margin-left: 24px;
}

.main__blog-individual-social-linkedin {
    margin-left: 12px;
}

.main__blog-individual-social-linkedin {
    position: relative;
}

.main__blog-individual-social-linkedin-letters {
    position: absolute;
    top: 10px;
    left: 13px;
}

.main__blog-individual-social-bmc-button {
    background: url(../../images/blog-individual/bmc-button.svg);
    width: 141px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.main__blog-individual-social-arrows {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__blog-individual-social-arrows-prev {
    margin-left: 23px;
    display: flex;
    align-items: center;
}

.main__blog-individual-social-arrows-prev-img {
    margin-right: 21px;
}

.main__blog-individual-social-arrows-next {
    display: flex;
    align-items: center;
}

.main__blog-individual-social-arrows-next-img {
    margin-left: 21px;
    padding-top: 5px;
}

.container-blog-individual-slider {
    max-width: 945px;
}

.main__blog-individual-other-articles {
    margin-top: 160px;
}

.main__blog-individual-articles-title {
    background: url(../../images/background/rectangle-articles-blue.svg) no-repeat 6px 34px;
}

.main__blog-individual-wrapper-right {
    max-width: 300px;
    padding-left: 15px;
}

.main__blog-individual-wrapper-right-adaptive {
    display: none;
}

.main__blog-individual-right-heading-top {
    margin-top: 86px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--title-color);
}

.main__blog-individual-right-navigation-list {
    flex-wrap: wrap;
    margin-top: 10px;
}

.main__blog-individual-right-navigation-list li {
    margin-right: 10px;
    margin-top: 10px;
}

.main__blog-individual-right-heading-bottom {
    margin-top: 70px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--title-color);
}

.main__blog-individual-right-courses-card {
    max-width: 285px;
    height: 363px;
    background: #C2E0FF;
    border-radius: 8px;
    margin-top: 20px;
    padding: 30px 20px;
    position: relative;
}

.main__blog-individual-right-courses-card-heading {
    margin-top: 30px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--title-color);
}

.main__blog-individual-right-courses-card-text {
    margin-top: 20px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
}

.main__blog-individual-right-courses-card-link {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: var(--link-color);
    transition: color .3s;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.main__blog-individual-right-courses-card-link:hover {
    color: var(--link-active-color);
}

@media screen and (max-width: 1255px) {
    .main__blog-individual-heading {
        margin-top: 20px;
    }

    .main__blog-individual-wrapper-right {
        display: none;
    }

    .main__blog-individual-wrapper-right-adaptive {
        display: block;
    }

    .main__blog-individual-right-heading-top {
        margin-top: 100px;
    }

    .main__blog-individual-right-heading-bottom {
        margin-top: 50px;
    }

    .main__blog-individual-right-courses-card {
        max-width: 690px;
        height: 292px;
    }

    .main__blog-individual-right-courses-card-text {
        font-size: 18px;
        line-height: 24px;
    }

    .main__blog-individual-right-courses-card-link {
        right: 30px;
    }
}

@media screen and (max-width: 992px) {
    .main__blog-main-img {
        max-width: 828px;
    }

    .main__blog-individual-image-block {
        justify-content: start;
    }

    .main__blog-individual-image-block-img:first-child {
        margin-right: 30px;
    }

    .main__blog-individual-image-block-img img {
        width: 330px;
    }

    .image-block-display-none-adaptive {
        display: none;
    }

    .container-blog-individual-slider {
        max-width: 858px;
    }
}

@media screen and (max-width: 828px) {
    .background-pink-main-blog-individual {
        display: none;
    }

    .background-big-blue-blog-individual {
        display: none;
    }

    .main__blog-main-img {
        max-width: 768px;
    }

    .container-blog-individual-slider {
        max-width: 798px;
    }
}

@media screen and (max-width: 768px) {
    .main__blog-individual-wrapper-left {
        margin-top: 20px;
    }

    .main__blog-individual-heading {
        font-size: 40px;
        line-height: 50px;
    }

    .main__blog-main-img {
        max-width: 690px;
        margin-top: 30px;
        padding-bottom: 10px;
    }

    .main__blog-heading-h3 {
        margin-top: 40px;
        font-size: 24px;
        line-height: 29px;
    }

    .main__blog-individual-list-discs {
        margin-top: 5px;
        font-size: 16px;
        line-height: 32px;
    }

    .main__blog-individual-text {
        font-size: 16px;
        line-height: 26px;
    }

    .main__blog-individual-list-decimal {
        margin-top: 5px;
        font-size: 16px;
        line-height: 32px;
    }

    .main__blog-individual-image-block {
        margin-top: 40px;
    }

    .main__blog-individual-quote {
        margin-top: 40px;
        padding: 36px 30px 38px 40px;
    }

    .main__blog-individual-quote-icon {
        top: 37px;
        left: 40px;
    }

    .main__blog-individual-quote-author {
        margin-top: 104px;
        margin-bottom: 0;
        margin-left: 0;
        padding-right: 31px;
    }

    .main__blog-individual-quote-text {
        display: none;
    }

    .main__blog-individual-quote-text-750 {
        display: block;
        font-family: 'Segoe UI';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--black);
        padding-left: 18px;
    }

    .main__blog-individual-text-bottom {
        margin-top: 40px;
        font-size: 16px;
        line-height: 26px;
    }

    .container-blog-individual-slider {
        max-width: 720px;
    }
}