.background-blue-blog-catalog-750 {
    display: none;
}

.background-pink-blog-catalog-750 {
    display: none;
}

.background-blue-blog-catalog-320 {
    display: none;
}

.main__blog-wrapper {
    position: relative;
    margin-top: 31px;
}

.main__blog-title-img {
    position: absolute;
    top: 3px;
    left: -159px;
}

.main__blog-breadcrump-list {
    display: flex;
    align-items: center;
}

.main__blog-breadcrump-item {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--link-breadcrump);
}

.main__blog-breadcrump-item-icon {
    margin-right: 10px;
}

.main__blog-breadcrump-item-link {
    margin-right: 10px;
    color: var(--link-breadcrump);
    opacity: 0.6;
    text-decoration: none;
    transition: color .3s;
}

.main__blog-breadcrump-item-link:hover {
    color: var(--link-active-color);
}

.main__blog-heading {
    margin-top: 36px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.005em;
    color: var(--title-color);
}

.main__blog-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__blog-navigation-320 {
    display: none;
}

.main__blog-navigation-tags {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.main__blog-navigation-tags li {
    margin-right: 11px;
    padding: 10px 15px;
}

.main__blog-tag-frontend {
    background: #92E3A9;
    border-radius: 4px;
}

.main__blog-tag-backend {
    background: #A2D8FF;
    border-radius: 4px;
}

.main__blog-tag-javascript {
    background: #FFDD95;
    border-radius: 4px;
}

.main__blog-tag-c {
    background: #BEC5FF;
    border-radius: 4px;
}

.main__blog-tag-selfeducation {
    background: #FBA594;
    border-radius: 4px;
}

.main__blog-tag-cloud {
    background: #DDF1FF;
    border-radius: 4px;
}

.main__blog-tag-tips {
    background: #FFD4BC;
    border-radius: 4px;
}

.main__blog-tag-softskills {
    background: #F3A9E7;
    border-radius: 4px;
}

.main__blog-tag-sql {
    background: #A7BBD1;
    border-radius: 4px;
}

.main__blog-tag-react {
    background: #A3E8EC;
    border-radius: 4px;
}

.main__blog-navigation-tags a {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: var(--link-color);
    text-decoration: none;
}

.main__blog-navigation-sort {
    width: 232px;
    height: 36px;
    border: 2px solid var(--border);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.main__blog-navigation-sort-adaptive {
    display: none;
}

.main__blog-navigation-sort--active {
    border-color: var(--gray2);
}

.main__blog-navigation-sort-dropdown--active {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.main__blog-navigation-sort-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.main__blog-navigation-sort-wrapper--active {
    border-bottom: 1px solid var(--border);
}

.main__blog-navigation-sort-legend {
    padding: 7px 0 9px 1px;
}

.main__blog-navigation-sort-wrapper-svg {
    padding: 3px 0 5px;
}

.main__blog-navigation-sort-arrow--active {
    transform: rotate(180deg);
}

.main__blog-navigation-sort-list {
    position: absolute;
    display: none;
    top: 100%;
    left: -2px;
    width: 232px;
    background: #FFFFFF;
    border: 2px solid var(--border);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
}

.main__blog-navigation-sort-list--active {
    display: block;
    z-index: 2;
}

.main__blog-sort-item {
    height: 32px;
}

.main__blog-sort-item:hover {
    background: var(--red);
}

.main__blog-sort-item-link {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--link-color);
    text-decoration: none;
    padding-left: 25px;
    display: block;
}

.main__blog-sort-item-link:hover {
    color: var(--white);
}

@media screen and (max-width: 1570px) {
    .main__blog-title-img {
        display: none;
    }
}

@media screen and (max-width: 1255px) {
    .main__blog-navigation-sort {
        display: none;
    }

    .main__blog-heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .main__blog-heading {
        margin-top: 0;
    }

    .main__blog-navigation-sort-adaptive {
        display: block;
        border: 2px solid var(--border);
        border-radius: 8px;
        cursor: pointer;
        width: 330px;
        height: 36px;
        position: relative;
        background: #FFFFFF;
    }


    .main__blog-navigation-sort-dropdown-adaptive--active {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .main__blog-navigation-sort-wrapper-adaptive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;
    }

    .main__blog-navigation-sort-wrapper-adaptive--active {
        border-bottom: 1px solid var(--border);
    }


    .main__blog-navigation-sort-list-adaptive {
        position: absolute;
        display: none;
        top: 100%;
        left: -2px;
        width: 330px;
        background: #FFFFFF;
        border: 2px solid var(--border);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: none;
    }

    .main__blog-navigation-sort-list-adaptive--active {
        display: block;
        z-index: 2;
    }

    .main__blog-navigation-sort-arrow-adaptive--active {
        transform: rotate(180deg);
    }


    .main__blog-navigation-tags-item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 828px) {
    .main__blog-navigation {
        margin-top: 30px;
    }

    .background-blue-blog-catalog-750 {
        display: block;
        position: absolute;
        z-index: -1;
    }

    .background-pink-blog-catalog-750 {
        display: block;
        position: absolute;
        top: 1945px;
        right: 0;
        z-index: -1;
    }

    .footer__blog-catalog {
        margin-top: 100px;
    }
}

@media screen and (max-width: 576px) {
    .background-blue-blog-catalog-750 {
        display: none;
    }

    .background-pink-blog-catalog-750 {
        display: none;
    }

    .main__blog-wrapper {
        margin-top: 20px;
    }

    .main__blog-heading-wrapper {
        margin-top: 20px;
    }
    
    .main__blog-navigation {
        display: none;
    }

    .main__blog-navigation-320 {
        display: block;
        margin: 20px 0;
    }

    .main__blog-navigation-tags-320 {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .main__blog-navigation-tags-320 li {
        margin-right: 11px;
        padding: 10px 15px;
    }

    .main__blog-navigation-tags-320 a {
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 14px;
        color: var(--link-color);
        text-decoration: none;
    }

    .footer__blog-catalog {
        margin-top: 58px;
    }
}

@media screen and (max-width: 360px) {        
    .main__blog-navigation-tags-320 li {
        padding: 8px 10px;
    }

    .main__blog-navigation-tags-320 a {
        font-size: 14px;
    }

    .main__blog-navigation-sort-adaptive {
        width: 290px;
    }

    .main__blog-navigation-sort-list-adaptive {
        width: 290px;
    }

    main .main__swiper-blog {
        margin-top: 40px;
    }

    .footer__blog-catalog {
        margin-top: 60px;
    }
}

@media screen and (max-width: 320px) {
    .background-blue-blog-catalog-320 {
        display: block;
        position: absolute;
        z-index: -1;
    }
}