/* .main__information-title {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 900;
    font-size: 130px;
    line-height: 156px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 0.06;
    border: 2px solid #23262D;
    transform: rotate(-90deg);
} */