.main__courses {
    margin-top: 172px;
}

.main__courses-slider-list {
    height: 351px;
}

@media screen and (max-width: 828px) {
    .main__courses {
        margin-top: 102px;
    }
}

@media screen and (max-width: 768px) {
    .main__courses-slider-list {
        height: 400px;
    }
}

@media screen and (max-width: 360px) {
    .main__courses {
        margin-top: 79px;
    }

    .main__courses-slider-list {
        height: 330px;
    }
}