.header {
    
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.header__navigation {
    max-width: 562px;
    width: 100%;
}

.header__navigation-list {
    display: flex;
    justify-content: space-between;
}

.header__languege-box {
    display: flex;
    justify-content: flex-end;
}