.header__mobile-menu-hamburger {
    display: none;
}

.header__mobile-menu {
    display: none;
}

@media screen and (max-width: 576px) {
    .header--active {
        background: #FFFFFF;
        z-index: var(--header-menu-z-index);
        position: relative;
    }

    .header__mobile-menu {
        position: relative;
        display: block;
        border-radius: 0px 0px 10px 10px;
    }

    .header__mobile-menu-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
    }

    .header__mobile-menu-hamburger {
        display: block;
    }

    .header__mobile-menu-hamburger-img--active {
        display: none;
    }

    .header__mobile-menu-drawer-img {
        display: none;
    }

    .header__mobile-menu-drawer-img--active {
        display: block;
    }

    .header__mobile-menu-dropdown {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 0 6%;
        background: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: none;
    }

    .header__mobile-menu-dropdown--active {
        display: block;
    }

    .header__mobile-menu-list {
        padding: 30px 0;
        border-top: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
    }

    .header__mobile-menu-item {
        padding: 6px 0 10px 0;
    }

    .header__mobile-menu-item:active {
        background: var(--red);
    }

    .header__mobile-menu-item a {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: var(--link-color);
        text-decoration: none;
        display: block;
    }

    .header__mobile-menu-item a:active {
        color: var(--white);
    }

    .header__mobile-menu-footer-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }

    .header__mobile-menu-footer-item a {
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--link-color);
        text-decoration: none;
    }

    .header__mobile-menu-footer-item a:active {
        color: var(--link-active-color);
    }
}