.main__rubric-title-wrapper {
    position: relative;
}

.main__rubric-heading {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--article-title);
    margin-top: 160px;
    background: url(../../images/background/rectangle-65.svg) no-repeat center bottom;
}

.main__rubric-title-wrapper-img {
    position: absolute;
    top: 34px;
    left: 905px;
    z-index: -1;
}

.main__rubric-frames-wrapper {       
    display: flex;
    justify-content: space-between;
}

.main__rubric-frame1 {  
    margin-top: 42px;  
    max-width: 312px;
}

.main__rubric-frame2 {
    margin-top: 93px;    
    max-width: 342px;
}

.main__rubric-frame3 { 
    margin-top: 64px;   
    max-width: 276px;
}

.main__rubric-frame-title {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}

.frame-title1 {
    margin-top: 23px;
}

.frame-title2 {
    margin-top: 39px;
}

.frame-title3 {
    margin-top: 37px;
}