.main__courses-slide-hero {
    font-family: 'Segoe UI';
    font-style: normal;
    /* width: 600px; */
    height: 266px !important;
    background: #CCC1F6;
    border-radius: 8px;
    position: relative;
}

.main__courses-slide-background-hero {
    position: absolute;
    top: 14px;
    right: 30px;
}

.main__courses-slide-icon-hero {
    margin-top: 30px;
    margin-left: 20px;
}

.main__courses-slide-heading-hero {
    margin-top: 30px;
    margin-left: 20px;
}

.main__courses-slide-heading-hero a {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--link-color);
    text-decoration: none;
    transition: color .3s;
}

.main__courses-slide-heading-hero a:hover {
    color: var(--link-active-color);
}

.main__courses-slide-text-hero {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
}

.main__courses-slide-detail {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: var(--link-color);
    position: absolute;
    right: 29px;
    bottom: 26px;
    transition: color .3s;
}

.main__courses-slide-detail:hover {
    color: var(--link-active-color);
}

.main__courses-slide-new {
    width: 600px;
    height: 266px !important;
    background: #E7EEF3;
    border-radius: 8px;
    position: relative;
}

.main__courses-slide-icon-new {
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Segoe UI';
    font-style: normal;
}

.main__courses-slide-background-new {
    position: absolute;
    top: 14px;
    right: 30px;
}

.main__courses-slide-heading-new {
    margin-top: 54px;
    margin-left: 20px;
}

.main__courses-slide-heading-new a {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--link-color);
    text-decoration: none;
    transition: color .3s;
}

.main__courses-slide-heading-new a:hover {
    color: var(--link-active-color);
}

.main__courses-slide-text-new {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    margin-top: 12px;
    margin-left: 20px;
}

.main__courses-slide-subscribe {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #23262D;
    position: absolute;
    right: 30px;
    bottom: 28px;
    transition: color .3s;
}

.main__courses-slide-subscribe:hover {
    color: var(--link-active-color);
}

@media screen and (max-width: 1080px) {
    .main__courses-slide-background-hero {
        max-width: 184px;
    }

    .main__courses-slide-background-new {
        max-width: 153px;
    }
}

@media screen and (max-width: 992px) {
    .main__courses-slide-text-hero {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

@media screen and (max-width: 768px) {
    .main__courses-slide-heading-new {
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px) {
    .main__courses-slider-list .swiper-slide-active {
        width: 390px !important;
    }
}

@media screen and (max-width: 360px) {
    .main__courses-slider-list .swiper-slide-active {
        width: 290px !important;
    }

    .main__courses-slider-list .swiper-slide-prev {
        width: 285px !important;
    }

    .main__courses-slide-hero {
        height: 266px !important;
    }

    .main__courses-slide-new {
        height: 266px !important;
    }

    .main__courses-slide-icon-hero {
        width: 35px;
        margin-left: 15px;
    }

    .main__courses-slide-icon-new {
        width: 35px;
        margin-left: 15px;
    }

    .main__courses-slide-background-hero {
        max-width: 123px;
        top: 28px;
        right: 15px;
    }

    .main__courses-slide-background-new {
        max-width: 123px;
        top: 28px;
        right: 15px;
    }

    .main__courses-slide-heading-hero {
        margin-left: 15px;
    }

    .main__courses-slide-heading-new {
        margin-left: 15px;
    }

    .main__courses-slide-heading-hero a {
        font-size: 20px;
    }

    .main__courses-slide-heading-new a {
        font-size: 20px;
    }

    .main__courses-slide-text-hero {
        margin-top: 11px;
        margin-left: 15px;
    }

    .main__courses-slide-text-new {
        margin-top: 11px;
        margin-left: 15px;
    }

    .main__courses-slide-detail {
        right: 15px;
        bottom: 30px;
        font-size: 14px;
        line-height: 17px;
    }

    .main__courses-slide-subscribe {
        right: 15px;
        bottom: 30px;
        font-size: 14px;
        line-height: 17px;
    }
}